* {
  margin: 0;
  padding: 0;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  background-image: url("./asset/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
